# file system
.DS_Store
[Tt]humbs.db
*~
*.swp
*.lock
Debug/
/linux/*.deb

# Eclipse
.project
.cproject
.settings

# Visual Studio
*.sdf
*.opensdf
*.suo
*.vcxproj.user
*.def
win/Debug
win/Release
win/qaul/Debug
win/qaul/Release

# Xcode
osx/build/
osx/installer/build/
ios/build/
DerivedData/
*.mode1v3
*.pbxuser
*~.nib
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/**/*
!xcuserdata/**/xcschemes/*
UserInterfaceState.xcuserstate
LatestBuild
ios/Packages
qaul.net.app
0xdeadfa11

# QT
linux/qaul-build-desktop
linux/qaul/qaul.pro.user
*.lintian

# Linux GTK
linux/qaul_gtk/www
linux/qaul_gtk/qaul
linux/qaul_gtk/olsrd
linux/qaulhelper/qaulhelper

# Android
android/bin
android/libs
android/obj

# CLI
cli/qaul
cli/qaul.exe
cli/olsrd
cli/olsrd.exe
cli/www
cli/olsrd_dyn_gw.so.0.5

# build files & executables
*.[oad]
*.exe
*.lib
*.dll
*.exp
*.de
*.so
*.o
#*.0
*.1
*.Po
.deps
builddata.c
# bison
oparse.h
oparse.c
# flex
oscan.c

# olsrd
olsrd-0.6.0/olsrd

# tools & testing
*.log
gmon.out

# project specific
src/builddata.c
qaullib.db
olsrd-ipv4.lock

# portfwd
portfwd/Makefile
portfwd/getopt/Makefile
portfwd/src/Makefile
portfwd/src/portfwd
portfwd/autom4te.cache
portfwd/config
portfwd/config.h
portfwd/config.status
portfwd/stamp-h1
portfwd/tools/Makefile
portfwd/tools/t_vector
portfwd/tools/udp_rcv
portfwd/tools/udp_snd

# pjsip
*.depend
os-auto.mak
os-auto.h
config_auto.h
config_auto.mak
*/build.mak
*/build/cc-auto.mak
*/config.status
*/pjlib-util/bin/
*/pjlib/bin/
*/pjlib/include/pj/compat/m_auto.h
*/pjlib/include/pj/compat/os_auto.h
*/pjlib/include/pj/config_site.h
*/pjmedia/bin/
*/pjnath/bin/
*/pjsip-apps/bin/
*/pjsip/bin/
*/pjsip/include/pjsip/sip_autoconf.h

# exclude other versioning systems
CVS
.svn

# www folder
www/files/*.dmg
www/files/*.apk
www/files/*.deb
www/files/*.exe
www/files/*.gz
www/files/fat.sql

# server folder
server/php/qaulhub/build.properties
server/php/qaulhub/config.php
server/php/qaulhub/test*

# binary creation
binary_release/qaul.net/
binary_release/mof/
binary_release/*.tar.gz

