Package: net.qaul.qstartolsr
Name: qstartolsr
Version: 0.1-1
Description: 
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: *
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

