Package: net.qaul.qaulhelper
Name: qaulhelper
Version: 1.0-1
Description: 
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: *
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

